/* Variables */
:root {
 --fontSize: 1.768rem;
 --color: #FFFFFF;

 --headerHeight: 4rem;
 --asideHeight: 4rem;
 --sectionHeight: 2rem;
 --gap: 2rem;
 --asideDesktopWidth: 13.25rem;
 --sectionDesktopHeight: 10.813rem;

 --headerBackgroundColor: #867AE9;
 --asideBackgroundColor: #D83A56;
 --contentBackgroundColor: #4C4C6D;
 --sectionBackgroundColor: #FFC074;
}